<a href="https://colab.research.google.com/github/hirak214/ML_Course_Asim_Tewari/blob/main/1.%20Introduction%20to%20Python/Intro_to_Python_Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Python**

## Python Overview
Python is a high-level, general-purpose, and very popular programming language. Python programming language (latest Python 3) is being used in web development and machine Learning applications, along with all cutting-edge technology in the Software Industry.

Python language is being used by almost all tech-giant companies like – Google, Amazon, Facebook, Instagram, Dropbox, Uber… etc.

## **Basics of Programming and Data Structures with Python**

## Data Types in Python:

 1. **int, float, char, str:**
   - *Explanation:* These are fundamental data types in Python.
     - `int`: Represents integers (whole numbers).
     - `float`: Represents floating-point numbers (decimals).
     - `str`: Represents strings (sequences of characters).
     - `char`: In Python, characters are represented as strings of length 1.

2. **list, tuple:**
   - *Explanation:* These are both data structures used to store collections of items.
     - `list`: A mutable, ordered collection of items.
     - `tuple`: An immutable, ordered collection of items.

In [2]:
# Example of different data types in Python

# Integer
my_int = 5

# Float
my_float = 3.14

# Character
my_char = 'A'

# String
my_str = "Hello, Python!"

# List
my_list = [1, 2, 3, 4]

# Tuple
my_tuple = (1, 'two', 3.0)

# Displaying the values
print(my_int, my_float, my_char, my_str, my_list, my_tuple)

5 3.14 A Hello, Python! [1, 2, 3, 4] (1, 'two', 3.0)

---

## Conditional Statements

1. **If:**
   - *Explanation:* The `if` statement is used for decision-making. It executes a block of code only if a specified condition is true.

2. **If-else:**
   - *Explanation:* The `if-else` statement allows for two possible outcomes. If the condition is true, the code inside the `if` block is executed; otherwise, the code inside the `else` block is executed.

3. **If-elif-else:**
   - *Explanation:* The `if-elif-else` statement is an extension of `if-else` and allows for multiple conditions to be checked sequentially. The first true condition's block is executed.

In [3]:
# Example of if-else statement

num = int(input("Enter a number: "))

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Enter a number: 12
Positive number

---

## Loops

1. **While Loop:**
   - *Explanation:* The `while` loop continues to execute a block of code as long as a specified condition is true. It's useful when the number of iterations is not known beforehand.

2. **For Loop:**
   - *Explanation:* The `for` loop is used to iterate over a sequence (such as a list or tuple) or other iterable objects. It's often used when the number of iterations is known.

In [6]:
# Example of a for loop

fruits = ['apple', 'banana', 'cherry']

for fruit in fruits:
    print(fruit)

for i in range(0, 5):
  print(i)

apple
banana
cherry
0
1
2
3
4

---

## Object-Oriented Programming (OOPS)

1. **Classes and Objects:**
   - *Explanation:* Classes are blueprints for creating objects. Objects are instances of classes and can have attributes (variables) and methods (functions).

In [5]:
# Example of a simple class

class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        print(f"{self.name} says Woof!")

# Creating an instance of the Dog class
my_dog = Dog("Buddy", 3)

# Calling the bark method
my_dog.bark()

Buddy says Woof!

---

## Data Handling Tools in Python

1. **Pandas:**
   - *Explanation:* Pandas is a powerful library for data manipulation and analysis. It provides data structures like Series and DataFrame, making it easy to handle and analyze structured data.

2. **NumPy:**
   - *Explanation:* NumPy is a library for numerical operations in Python. It introduces support for large, multi-dimensional arrays and matrices, along with mathematical functions to operate on these arrays.

In [1]:
# Example using Pandas and NumPy

import pandas as pd
import numpy as np

# Creating a Pandas Series
s = pd.Series([1, 3, 5, np.nan, 6, 8])

# Creating a NumPy array
arr = np.array([1, 2, 3, 4, 5])

# Displaying the Series and Array
print("Pandas Series:")
print(s)

print("\nNumPy Array:")
print(arr)

Pandas Series:
0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

NumPy Array:
[1 2 3 4 5]